body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.btn {
    text-transform: none !important;
}
/* Navbar styles */
.nav-wrapper {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.nav-wrapper .brand-logo {
  font-weight: bold;
  color: #000;
  margin-left: 20px;
}

.forgot-password {
    right: 20px;
    bottom: 10px;
    font-size: 0.9em;
    text-align-last: right;
    font-weight: bold;
    margin-top: 55px;
  }

  .forgot-password a {
    color: #000;
  }
nav ul li a {
  color: #000;
  font-weight: bold;
}

/* Estilos del formulario */
.login-card {
  background-color: #EAF4F4;
  max-width: 550px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
}

.login-card .card-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.input-field input[type=email], .input-field input[type=password] {
  border: 1px solid #00796b;
  border-radius: 5px;
  padding-left: 10px;
}

.input-field input[type=email]:focus, .input-field input[type=password]:focus {
  border: 1px solid #00796b;
  box-shadow: none;
}

.btn-primary {
  background-color: #56A3A6;
  width: 50%;
  border-radius: 40px;
}

.divider-custom {
  margin: 20px 0;
  text-align: center;
}

.divider-custom::before, .divider-custom::after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #ccc;
  display: inline-block;
  vertical-align: middle;
}

.divider-custom::before {
  margin-right: 10px;
}

.divider-custom::after {
  margin-left: 10px;
}

.btn-google {
  border: 2px solid #56A3A6;
  color: #56A3A6;
  background-color: white;
  border-radius: 40px;
  font-weight: 500;
  padding-left: 105px;
  padding-right: 105px;
}

.btn-google:hover {
    color: #fff;
    background-color: #56A3A6;

  }


.create-account {
  text-align: center;
  margin-top: 30px;
}

.create-account button {
  color: #E3B505;
  border: 2px solid #E3B505;
  background-color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.create-account button:hover {
  background-color: #E3B505;

}

.create-account button a {
    color: #E3B505 !important;
  }

  .create-account button a:hover {
    color: #fff !important;
  }

.nav-wrapper .active {
    color: #000 !important;
    font-weight: bold;
    background-color: #56A3A6;
  }

.input-field.col label {
    left: 1.75rem;
}

.google{
    text-align-last: center;
}

.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: white;
    max-width: 28%;
    color: #000;
}

.input-field .helper-text {
    color: #000;
    font-style: normal;

}

.modal {
  border-radius: 15px;
  background-color: #4E9C9E;
  color: white;
}

.modal .modal-content h4 {
  color: white;
}

.modal .modal-footer .btn-flat {
  color: white;
}

.modal .modal-footer {
border-radius: 0 0 2px 2px;
background-color: #4E9C9E; 
padding: 4px 6px;
height: 56px;
width: 100%;
text-align: right;
}
